<div class="container">
  <button class="btn btn-success btn-block">MOVIE TRAILER DETAIL'S</button>
</div>


<div class="container">
<div class="row">

<figure class="highlight1">
</div>
<div class="container">
  <div class="row">


        <div class="col-md-3">
        <div class="thumbnail">

<img src="../img/resrc/Kaabil.jpg" style="width:250px;height:250px;padding:5px;">
 <button type="button" class="btn btn-primary btn-lg" style="margin-left: 48px;" data-toggle="modal" data-target="#myModal">Watch Trailer</button>

  <div  class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="margin-left: -26%;">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">KAABIL TRAILER</h4>
        </div>
        <div class="modal-body">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/0GnPd4WzwpI" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

    </div>
  </div>
</div></div>










      <div class="col-md-3">
      <div class="thumbnail">

<img src="../img/resrc/ok jannu.jpg" style="width:250px;height:250px;padding:5px;">
<button type="button" class="btn btn-primary btn-lg" style="margin-left: 48px;" data-toggle="modal" data-target="#aModal">Watch Trailer</button>

<div  class="modal fade" id="aModal" role="dialog">
  <div class="modal-dialog" style="margin-left: -26%;">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">OK JAANU TRAILER</h4>
      </div>
      <div class="modal-body">
<iframe width="560" height="315" src="https://www.youtube.com/embed/HLdbAdya2po" frameborder="0" allowfullscreen></iframe>      </div>
    </div>

  </div>
</div>
</div></div>


      <div class="col-md-3">
      <div class="thumbnail">

<img src="../img/resrc/banglore days.jpg" style="width:250px;height:250px;padding:5px;">
<button type="button" class="btn btn-primary btn-lg" style="margin-left: 48px;" data-toggle="modal" data-target="#bModal">Watch Trailer</button>

<div  class="modal fade" id="bModal" role="dialog">
  <div class="modal-dialog" style="margin-left: -26%;">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">BANGLORE DAYS TRAILER</h4>
      </div>
      <div class="modal-body">
<iframe width="560" height="315" src="https://www.youtube.com/embed/uVpHL5g4buY" frameborder="0" allowfullscreen></iframe>      </div>
    </div>

  </div>
</div>
</div></div>









      <div class="col-md-3">
      <div class="thumbnail">

<img src="../img/resrc/Jyothika.jpg" style="width:250px;height:250px;padding:5px;">
<button type="button" class="btn btn-primary btn-lg" style="margin-left: 48px;" data-toggle="modal" data-target="#cModal">Watch Trailer</button>

<div  class="modal fade" id="cModal" role="dialog">
  <div class="modal-dialog" style="margin-left: -26%;">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">MAGALIR MATTUM TRAILER</h4>
      </div>
      <div class="modal-body">
<iframe width="560" height="315" src="https://www.youtube.com/embed/et_Am4KOnZk" frameborder="0" allowfullscreen></iframe>      </div>
    </div>

  </div>
</div>
</div></div>




</div>


<div class="row">


      <div class="col-md-3">
      <div class="thumbnail">

<img src="../img/resrc/bogan.jpg" style="width:250px;height:250px;padding:5px;">
<button type="button" class="btn btn-primary btn-lg" style="margin-left: 48px;" data-toggle="modal" data-target="#dModal">Watch Trailer</button>

<div  class="modal fade" id="dModal" role="dialog">
  <div class="modal-dialog" style="margin-left: -26%;">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">BOGAN TRAILER</h4>
      </div>
      <div class="modal-body">
<iframe width="560" height="315" src="https://www.youtube.com/embed/zurMRcvMfZU" frameborder="0" allowfullscreen></iframe>      </div>
    </div>

  </div>
</div>
</div></div>










      <div class="col-md-3">
      <div class="thumbnail">

<img src="../img/resrc/Kali.jpg" style="width:250px;height:250px;padding:5px;">
<button type="button" class="btn btn-primary btn-lg" style="margin-left: 48px;" data-toggle="modal" data-target="#eModal">Watch Trailer</button>

<div  class="modal fade" id="eModal" role="dialog">
  <div class="modal-dialog" style="margin-left: -26%;">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">KALI TRAILER</h4>
      </div>
      <div class="modal-body">
<iframe width="560" height="315" src="https://www.youtube.com/embed/vJ72PkYYZHs" frameborder="0" allowfullscreen></iframe>      </div>
    </div>

  </div>
</div>
</div></div>




</div>





</div>
